extends layout

block layout-content
    div(id='root')
        div(id='button-grid')
            button(class='clubButton' onclick="document.location='/afl/'")
                img(src='/images/AdelaideCrows.svg', alt='Adelaide logo')
                p Adelaide
            button(class='clubButton' onclick="document.location='/afl/'")
                img(src='/images/BrisbaneLions.svg', alt='Brisbane logo')
                p Brisbane
            button(class='clubButton' onclick="document.location='/afl/'")
                img(src='/images/Carlton.svg', alt='Carlton logo')
                p Carlton 
            button(class='clubButton' onclick="document.location='/afl/'")
                img(src='/images/Collingwood.svg', alt='Collingwood logo')
                p Collingwood 
            button(class='clubButton' onclick="document.location='/afl/'")
                img(src='/images/Essendon.svg', alt='Essendonlogo ')
                p Essendon  
            button(class='clubButton' onclick="document.location='/afl/'")
                img(src='/images/Fremantle.svg', alt='Fremantle logo ')
                p Fremantle                