extends layout

block layout-content
    div(id='root')
        div(id='button-grid')
            button(class='clubButton' onclick="document.location='/adelaide'")
                img(src='/images/AdelaideCrows.svg', alt='Adelaide logo')
                p Adelaide
            button(class='clubButton' onclick="document.location='/brisbane'")
                img(src='/images/BrisbaneLions.svg', alt='Brisbane logo')
                p Brisbane
            button(class='clubButton' onclick="document.location='/carlton'")
                img(src='/images/Carlton.svg', alt='Carlton logo')
                p Carlton 
            button(class='clubButton' onclick="document.location='/collingwood'")
                img(src='/images/Collingwood.svg', alt='Collingwood logo')
                p Collingwood 
            button(class='clubButton' onclick="document.location='/essendon'")
                img(src='/images/Essendon.svg', alt='Essendonlogo ')
                p Essendon  
            button(class='clubButton' onclick="document.location='/fremantle'")
                img(src='/images/Fremantle.svg', alt='Fremantle logo ')
                p Fremantle 
            button(class='clubButton' onclick="document.location='/geelong'")
                img(src='/images/GeelongCats.svg', alt='Geelong logo ')
                p Geelong  
            button(class='clubButton' onclick="document.location='/goldcoast'")
                img(src='/images/GoldCoastSuns.svg', alt='Gold Coast logo ')
                p Gold Coast  
            button(class='clubButton' onclick="document.location='/greaterwesternsydney'")
                img(src='/images/GWSGiants.svg', alt='Greater Western Sydney logo ')
                p GWS Giants 
            button(class='clubButton' onclick="document.location='/Hawthorn'")
                img(src='/images/Hawthorn.svg', alt='Hawthorn logo ')
                p Hawthorn
            button(class='clubButton' onclick="document.location='/melbourne'")
                img(src='/images/Melbourne.svg', alt='Melbourne logo ')
                p Melbourne   
            button(class='clubButton' onclick="document.location='/northmelbourne'")
                img(src='/images/NorthMelbourne.svg', alt='North Melbourne logo ')
                p North Melbourne       
            button(class='clubButton' onclick="document.location='/portadelaide'")
                img(src='/images/PortAdelaide.svg', alt='Port Adelaide logo ')
                p Port Adelaide      
            button(class='clubButton' onclick="document.location='/richmond'")
                img(src='/images/richmond.svg', alt='Richmond logo ')
                p Richmond
            button(class='clubButton' onclick="document.location='/stkilda'")
                img(src='/images/StKilda.svg', alt='St Kilda logo ')
                p St Kilda       
            button(class='clubButton' onclick="document.location='/sydney'")
                img(src='/images/SydneySwans.svg', alt='Sydney logo ')
                p Sydney     
            button(class='clubButton' onclick="document.location='/westcoast'")
                img(src='/images/WestCoastEagles.svg', alt='West Coast logo ')
                p West Coast  
            button(class='clubButton' onclick="document.location='/westernbulldogs'")
                img(src='/images/WesternBulldogs.svg', alt='Western Bulldogs logo ')
                p Western Bulldogs                               

                                           
