extends layout

block layout-content
  div
    img( id='player' src='images/player.png', alt="Football player silhouette")
    footer
      hr
      p(id='footer') Blah Blah Blah
      hr
    //- h1 AFL 2020
    //- ul
    //-   li
    //-     a(href='/afl/round1') Round 1
    //-   li
    //-     a(href='/afl/round2') Round 2
    //-   li
    //-     a(href='/afl/round3') Round 3
    //-   li
    //-     a(href='/afl/round4') Round 4
    //-   li
    //-     a(href='/afl/round5') Round 5
    //-   li
    //-     a(href='/afl/round6') Round 6
    //-   li
    //-     a(href='/afl/round7') Round 7 
    //-   li
    //-     a(href='/afl/round8') Round 8
    //-   li
    //-     a(href='/afl/round9') Round 9
    //-   li
    //-     a(href='/afl/round10') Round 10    
    //-   li
    //-     a(href='/afl/round11') Round 11
    //-   li
    //-     a(href='/afl/round12') Round 12  
    //-   li
    //-     a(href='/afl/round13') Round 13
    //-   li
    //-     a(href='/afl/round14') Round 14
    //-   li
    //-     a(href='/afl/round15') Round 15
    //-   li
    //-     a(href='/afl/round16') Round 16   
    //-   li
    //-     a(href='/afl/round17') Round 17
    //-   li
    //-     a(href='/afl/round18') Round 18                           
