extends layout

block layout-content
  div
    h1 AFL 2020
    ul
      li
        a(href='/afl/round1') Round 1
      li
        a(href='/afl/round2') Round 2
      li
        a(href='/afl/round3') Round 3
      li
        a(href='/afl/round4') Round 4
      li
        a(href='/afl/round5') Round 5
      li
        a(href='/afl/round6') Round 6
      li
        a(href='/afl/round7') Round 7 