extends layout

block layout-content
  div
    h1 AFL 2020
    ul
      li
        a(href='/round1') Round 1
      li
        a(href='/round2') Round 2
      li
        a(href='/round3') Round 3
      li
        a(href='/round4') Round 4
      li
        a(href='/round5') Round 5