block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title AFL Live Scores | Round #{title}  
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul(class='menu-bar')
        li(class='round-dropdown')
          a(href='javascript:void(0)' class='dropbtn')
            i(class='fas fa-bars')             
            div(class='dropdown-content')
                a(href='/afl/round1') Round 1
                a(href='/afl/round2') Round 2
                a(href='/afl/round3') Round 3
                a(href='/afl/round4') Round 4
                a(href='/afl/round5') Round 5
                a(href='/afl/round6') Round 6
                a(href='/afl/round7') Round 7
                a(href='/afl/round8') Round 8
                a(href='/afl/round9') Round 9
                a(href='/afl/round10') Round 10
                a(href='/afl/round11') Round 11
                a(href='/afl/round12') Round 12
                a(href='/afl/round13') Round 13
                a(href='/afl/round14') Round 14
                a(href='/afl/round15') Round 15
                a(href='/afl/round16') Round 16
                a(href='/afl/round17') Round 17
                a(href='/afl/round18') Round 18
        h1(id='title') AFL 2020 Live Scores       
    div#root
      block layout-content