block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title AFL Live Scores | #{title}  
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class='menu-bar')
        div(class='round-dropdown')
          a(href='javascript:void(0)' class='dropbtn')
            i(class='fas fa-bars')             
            div(class='dropdown-content')
                a(href='/round1') Round 1
                a(href='/round2') Round 2
                a(href='/round3') Round 3
                a(href='/round4') Round 4
                a(href='/round5') Round 5
                a(href='/round6') Round 6
                a(href='/round7') Round 7
                a(href='/round8') Round 8
                a(href='/round9') Round 9
                a(href='/round10') Round 10
                a(href='/round11') Round 11
                a(href='/round12') Round 12
                a(href='/round13') Round 13
                a(href='/round14') Round 14
                a(href='/round15') Round 15
                a(href='/round16') Round 16
                a(href='/round17') Round 17
                a(href='/round18') Round 18
        a(href='/' id='title-link') 
          h1(id='title') AFL 2020 Live Scores      
    block layout-content
    block foot
      footer(id='footer')
        hr
        p Data for these matches is provided by #[a(href="https://api.squiggle.com.au/") Squiggle's AFL API]. The source code can be found on #[a(href='https://github.com/benfanderson/aflgames') Github].
        hr 