extends layout

block layout-content
    div(id='root')
        div(id='button-grid')
            <button class='roundButton' onclick="document.location='/afl/round1'">Round 1</button> 
            <button class='roundButton'  onclick="document.location='/afl/round2'">Round 2</button> 
            <button  class='roundButton' onclick="document.location='/afl/round3'">Round 3</button> 
            <button class='roundButton'  onclick="document.location='/afl/round4'">Round 4</button> 
            <button class='roundButton'  onclick="document.location='/afl/round5'">Round 5</button> 
            <button class='roundButton'  onclick="document.location='/afl/round6'">Round 6</button> 
            <button class='roundButton'  onclick="document.location='/afl/round7'">Round 7</button> 
            <button class='roundButton'  onclick="document.location='/afl/round8'">Round 8</button> 
            <button class='roundButton'  onclick="document.location='/afl/round9'">Round 9</button> 
            <button class='roundButton'  onclick="document.location='/afl/round10'">Round 10</button> 
            <button class='roundButton'  onclick="document.location='/afl/round11'">Round 11</button> 
            <button class='roundButton'  onclick="document.location='/afl/round12'">Round 12</button> 
            <button class='roundButton'  onclick="document.location='/afl/round13'">Round 13</button> 
            <button class='roundButton'  onclick="document.location='/afl/round14'">Round 14</button> 
            <button class='roundButton'  onclick="document.location='/afl/round15'">Round 15</button> 
            <button class='roundButton'  onclick="document.location='/afl/round16'">Round 16</button> 
            <button class='roundButton'  onclick="document.location='/afl/round71'">Round 17</button> 
            <button class='roundButton'  onclick="document.location='/afl/round18'">Round 18</button> 