extends layout

block layout-content
    main(id='root')
        div(id='button-grid')
            <button class='roundButton' onclick="document.location='/round1'">Round 1</button> 
            <button class='roundButton'  onclick="document.location='/round2'">Round 2</button> 
            <button  class='roundButton' onclick="document.location='/round3'">Round 3</button> 
            <button class='roundButton'  onclick="document.location='/round4'">Round 4</button> 
            <button class='roundButton'  onclick="document.location='/round5'">Round 5</button> 
            <button class='roundButton'  onclick="document.location='/round6'">Round 6</button> 
            <button class='roundButton'  onclick="document.location='/round7'">Round 7</button> 
            <button class='roundButton'  onclick="document.location='/round8'">Round 8</button> 
            <button class='roundButton'  onclick="document.location='/round9'">Round 9</button> 
            <button class='roundButton'  onclick="document.location='/round10'">Round 10</button> 
            <button class='roundButton'  onclick="document.location='/round11'">Round 11</button> 
            <button class='roundButton'  onclick="document.location='/round12'">Round 12</button> 
            <button class='roundButton'  onclick="document.location='/round13'">Round 13</button> 
            <button class='roundButton'  onclick="document.location='/round14'">Round 14</button> 
            <button class='roundButton'  onclick="document.location='/round15'">Round 15</button> 
            <button class='roundButton'  onclick="document.location='/round16'">Round 16</button> 
            <button class='roundButton'  onclick="document.location='/round17'">Round 17</button> 
            <button class='roundButton'  onclick="document.location='/round18'">Round 18</button> 