*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(223, 230, 243);
}

#root{
    width: 95%;
    margin: auto;
}

#scores{
    display: flex;
    flex-wrap: wrap;
}

.game{
    width: 100%;
    background-color: white;
    padding: 2%;
    margin-bottom: 2%;
    font-size: 0.9em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    width: 15%;
}

.game-details{
    width:70%;
}

.logo img {
    width: 100%;
    height: auto;
    padding: 20% 0;
}

.live-score{
    color: rgb(238, 86, 99);
    animation: pulsate 1.5s ease-out;         
    animation-iteration-count: infinite;
    opacity: 0.5;
}
@keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}

/*View for tablet*/
@media (min-width: 479px) {

    #scores {
        justify-content: space-between;
    }

    .game{
        width: 45%;
        font-size: 1em;
    }

    .logo{
        width: 20%;
    }
    
    .game-details{
        width:60%;
    }
    
    .logo img {
        padding: 15% 0;
    }
}

  /*View for desktop*/
  @media (min-width: 1000px) {

    .game{
        width: 30%;
        padding: 1%;
        margin-bottom: 1%;
    } 
    
}